@{
    Layout = "";
}

<style>
    .ReviewOrder {
        font-size: 2vw;
        color: darkgrey;
        margin-bottom: 2%;
    }
</style>

<p class="ReviewOrder">@T("Plugins.Payments.CoinCornerCheckout.Fields.ReviewOrder")</p>
<p>@T("Plugins.Payments.CoinCornerCheckout.Fields.RedirectionTip")</p>
